@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark-blue: #1967D2;
    --light-blur: #42A5F5;
}

body{
    font-family: 'Poppins';
    margin: 0;
    background-color: white;
}


/* darkmode */
body.dark-mode{
    background-color: rgb(20, 20, 20);
    color: aliceblue;

    a{color: aliceblue;}

    header{box-shadow: -2px 4px 8px rgba(20, 20, 20, 0.3);}
    .morearticles{
        .suggested{border: solid 2px gray;}
    }

    .single_blog{ border: solid 2px gray;}
}


/* globals */
a{text-decoration: none; color: black; transition: ease 0.5s;}
a:hover{cursor: pointer; opacity: 85%;}
button{font-family: 'Poppins'; padding: 0.5em 1em; border: none; border-radius: 2em; background-color: rgb(231, 231, 231); transition: ease 0.5s;}
button:hover{cursor: pointer; background-color: rgb(255, 255, 255);}
input{padding: 0.5em 1em; font-family: 'Poppins'; border: none; border-radius: 1em;}



header{
  	padding: 1em 2em;
  	background-color: var(--dark-blue);
  	color: white;
  	display: flex;
  	flex-direction: column;
    box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.3);
    a:hover{opacity: 130%;}
}

.content{
    a{text-decoration: none; color: white;}
    button{font-family: 'Poppins'; padding: 0.5em 1em; border: none; border-radius: 2em;}
}

.menu{
    display: flex; align-items: center; justify-content: space-between;
    .dm{display: flex; gap: 0.5em}
}



main{
    margin: 2em 4em;
}



/* LOGIN */
.card{
    padding: 1em;
    margin-top: 30vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--dark-blue);
    border-radius: 1em;
    background-color: rgb(228, 228, 228);
	font-family: 'Poppins';
  	form{
        display: flex; flex-direction: column; gap: 0.4em;
        input{padding: 0.5em 1em; font-family: 'Poppins'; border: none; border-radius: 1em;}
        button{font-family: 'Poppins';background-color: var(--dark-blue); color: white; margin-top: 1em; padding: 0.5em 1em; border: none; border-radius: 2em;}
        button:hover{cursor: pointer;}
    }
        error{text-align: center;}
}


/* addpost */
.addpost{
    form{
        display: flex;
        flex-direction: column;
        gap: 1em;
        button{background-color: var(--dark-blue);}
        button:hover{background-color: var(--light-blur);}
    }
}



/* dashboard */
.single_blog{
    padding: 1em;
    margin-bottom: 1em;
    display: flex; justify-content: space-around; align-items: center;
    border: solid 1px black; border-radius: 1em;
    .actions{
        display: flex; gap: 1em;
        button:hover{background-color: #42A5F5;}
    }
} 




/* homepage */
.all_posts{
    display: flex; flex-wrap: wrap; gap: 1em;
    .posthome{
        /* display: flex;   */
        /* flex: 1 1 calc(33.333% - 1em); */
        flex: 0 0 32%;
        /* border: solid 1px black; */
        img{object-fit: contain; max-width: 100%; border-radius: 10px}
        p{padding-right: 1rem; padding-left: 1rem; font-size: 14px;}
        a:hover{cursor: pointer; opacity: 80%;}
    }
}


/* singlepost */
.eachpost{
    margin: 2em 4em;
    .container{
        display: flex; flex-direction: column; align-items: center; justify-content: center;
        img{width: 60%;}
    }

    .morearticles{
        display: flex; align-items: center; justify-content: space-between; gap: 1em;
        .suggested{
            display: flex; flex-direction: column; justify-content: space-around;
            height: 475px;
            padding: 1em;
            flex: 1;
            border: solid 1px black; border-radius: 8px;
            img{object-fit: contain; max-width: 100%; border-radius: 10px}
        }
    }
}




/* footer */
footer{
    padding: 4em 2em;
  	background-color: rgb(20, 20, 20);
  	color: whitesmoke; font-size: 12px;
    a{color: whitesmoke;}
    .credits{display: flex; align-items: center; justify-content: space-between; margin-bottom: 1em;}
    p{text-align: center;}
}



@media (width < 430px){

    main{margin: 2em 2em;}

    /* dashboard */
    .single_blog{
        flex-direction: column; align-items: flex-start;
        .actions{gap: 0.2em}
    }

    .all_posts{
        flex-direction: column;

    }

    .eachpost{
        margin: 0;
        .morearticles{
            flex-direction: column;
        }
    }

}