{% extends "base.html" %}

{% block blog_body %}

<div class="intro">
    <!-- <p style="margin-bottom: 0; font-size: 12px;">can not believe what circumstances have brought you here. But since you're here...</p> -->
    <h2 style="margin-top: 0.5em;">Hi! I am Hamza. Welcome to my blog.</h2>
    <p style="margin-bottom: 0">I made this website as just a place where I can share my thoughts, experiences, notes etc. Topics range from tech to football to case studies!</p>
    <p style="margin-top: 0;">P.S. Don't mind the occassional gen-z lingo or informal tone. Just having fun!</p>
</div>

<div class="all_posts">

    {% for post in posts %}
        <div class="posthome">
            
            <a href="{{ url_for('post', post_id=post.sno) }}"><img src="{{post.picture_path}}" alt=""></a>
            <p style="font-weight: 700; font-size: 24px"><a href="{{ url_for('post', post_id=post.sno) }}">{{post.title}}</a></p>
            <p style="margin-bottom: 0; font-weight: bold;">Hamza</p>
            <p style="margin-top: 0;">{{post.date}}</p>
        </div>
    {% endfor %}

</div>

{% endblock %}



