{% extends "base.html" %}

{% block dashboard_body %}

<h1>Dashboard</h1>
<a href="/newpost"><button>+ New Blog</button></a>
<h3>{{flashmsg}}</h3>

<div class="spacer" style="min-height: 2em;"></div>

<!-- {{posts}} -->

{% for post in posts %}

    <div class="single_blog">
        <p>{{post.sno}}</p>
        <p style="width: 200px;">{{post.title}}</p>
        <p>{{post.date}}</p>
        <div class="actions">
            <a href="{{ url_for('post', post_id=post.sno) }}"><button>view</button></a>
            <a href="{{ url_for('edit_post', post_id=post.sno) }}"><button>update</button></a>
            <a href="{{ url_for('delete_post', post_id=post.sno) }}"><button>delete</button></a>
        </div>
    </div>

{% endfor %}




{% endblock %}