{% extends "base.html" %}

{% block dashboard_body %}

<h1>Dashboard</h1>
<a href="/newpost"><button>+ New Blog</button></a>

<div class="spacer" style="min-height: 2em;"></div>

<!-- {{posts}} -->

{% for post in posts %}

    <a href="{{ url_for('post', post_id=post.sno) }}" class="single_blog">
        <p>{{post.sno}}</p>
        <p>{{post.title}}</p>
        <p>{{post.date}}</p>
        <div class="actions">
            <button>update</button>
            <button>delete</button>
        </div>
    </a>

{% endfor %}




{% endblock %}