<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Login</title>
</head>
<body style="background-color: #1967D2;">
    <div class="card">
        <p style="font-size: 12px;"><a href="/">⬅ back to home</a></p>
        <h2>LOGIN</h2>
        
        <form action="/dashboard" method="post">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit"><b>Log in</b></button>
        </form>

        <p style="font-size: 12px; margin-top: 1em; color: rgb(179, 2, 2);">{{error}}</p>
    </div>
</body>
</html>