{% extends "base.html" %}

{% block post_body %}

<div class="eachpost">
    
    <p style="font-size: 16px;"><a href="/">⬅ home</a></p>

    <div class="container">
        <img src="{{post.picture_path}}" alt="">
        <h1 style="margin-bottom: 0; font-weight: 700;">{{post.title}}</h1>
        <p style="margin-bottom: 0; font-size: 20px; font-weight: bold;">{{post.tagline}}</p>
        <p>Hamza Khan <span>.</span><span> {{post.date}}</span></p>
    </div>
    <hr>

    <div class="spacer" style="min-height: 2em;"></div>
    {{post.content|safe}}
</div>

{% endblock %}